
body
{
    text-align: center; width: 100vw;
}
*
{
    margin: 0;
    padding: 0;
}
  
header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(cinema.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    display: flex;
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
   display: flex; 
}

.main-nav li a
{
     color: white;
     text-decoration: none;
     padding: 5px 20px;
     font-family: "Roboto", sans-serif;
     font-size: 15px;
}

#btn-kon
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

#btn-kon:hover
{
    border: 1px solid white;
}

#btn-rej
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

#btn-rej:hover
{
    border: 1px solid white;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}



.logo img
{
    width: 150px;
    height: auto;
    float: left;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

.kino
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 100px;
    margin-right: 0px;
}

h1
{
    color:white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
}

.button
{
    margin-top: 30px;
    margin-left: 0vw;
}

.btn 
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-one
{
    /* background-color: darkorange; */
    font-family: "Roboto", sans-serif;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}


.btn:hover
{
    background-color: darkorange;
    transition: 0.5s ease-in-out;
    
}

div span {
    color: ;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* modal rejestracja */

.modal-kino {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-kino-content{
    width: 300px;
    height: 300px;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;

}

.modal-kino-content{
    width: 300px;
    height: 300px;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;

}

.modal-kino-content{
    width: 300px;
    height: 300px;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;

}

.btn-zal {
	background-color: rgb(78, 78, 255);
	border: 2px solid black;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
    }
    
.btn-zal:hover {
		background-color: white;
		color: blue;
		border: 2px solid blue;
	}
/* .input2 {
    width: 50%;
    display: block;
    margin: 15px auto;
} */

.close2 {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;


}

/* ////////////////////////////////// modal wybor kina */

.modal-kino-wybor {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-kino-content-wybor{
    width: 300px;
    height: 300px;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;

}

.btn-zal-wybor {
	background-color: rgb(78, 78, 255);
	border: 2px solid black;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
    }
    
.btn-zal-wybor:hover {
		background-color: white;
		color: blue;
		border: 2px solid blue;
    }
    

/* .input2 {
    width: 50%;
    display: block;
    margin: 15px auto;
} */

.close2-wybor {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;


}



.ukryj{display: none}
.pokaz{display: initial}

#wybor2 {
    color: white;
}

.wybrane-kino{
    color:white;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////// style dla formularza email i hasła */


/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 0px;
    font-family: "Roboto", sans-serif;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 0px;
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
  }

  #alert-haslo {
      color: red;
      font-family: "Roboto", sans-serif;
      display: inline;
      font-size: 10px
  }
  
  #message p {
    margin-top: 10px;
    padding: 10px 35px;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    display: none;
    color: green;
  }

  .valid_zal{
        color: green;
  }
  
  /* .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  } */
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    /* content: "✖"; */
  }

  .div_wybor {
      text-align: center;
      color: white;
      border: 1px solid white;
      max-width: 45vw;
      height: auto;
      margin-top: 10px;
      margin-bottom: 10px;
       

  }

  .div1 {
      margin-left: 10px;
      margin-right: 10px;
  }

  footer{
      display: flex;
      background-color: black;
      justify-content: center;
      align-items: center;
      }

     
  
  